extends baseEmail
 
block content
  p Hi #{firstName},
  p Congratulations!! This is your prize! 🎉
  p #{name}
  img(src=`https://www.everblades.com/product_images/uploaded_images/xmas-gift.jpeg` alt='Offer Image')
  p #{description}
  br

  p Your code is: 4536. Give this code to the person responsable with your prize.
  p It's never too hard to be green!
  p - Alexandra Grecu, Live Green Team